@import "fonts";

:root[data-theme=dark] {
    --color-peru: #ed7d31;
    --color-midnight-blue: #0042a0;
    --color-dodger-blue: #169cd8;
    --color-red: #9D3633;
    --color-title: #E3C14F;
    --color-in-progress: #FAAC4D;
    --color-resolve-ready: rgb(255, 255, 51);
    --color-non-compliant: #743EE2;
    --color-resolved: #FFFF33;
    --color-escalate: #FF5858;
    --color-complete: #0D54A8;
    --color-ready: #569627;
    --color-diver: rgb(102, 102, 102);
    --color-border-red: rgb(153, 0, 0);
    --color-border-yellow: #f1c232;
    --color-orange: #DE6D28;
    --color-gray: #363636;
    --background-gray: #333333;
    --color-job-detail-button: #666666;
    --color-job-container: #232323;
    --color-title-active: #FEFD5D;
    --color-upload-photo: #FEFD5B;
    --color-switch-button: #81120B;
    --color-green-light: #94FB4A;
    --color-job-detail-title: #E5AD5B;
    --bg-color: #161A1F;
    --card-bg: #1C2126;
    --color-header-navbar-border: #E5AD5B;
    //--icon-fill: #F1C232;
    --icon-stroke: #F1C232;
    --sidebar-select-color: #0D54A8;
    --sidebar-select-text-color: #F2EFF3;
    --base-font: Raleway;
    --primary-button-background: #F1C232;
}
  
body {
font-family: var(--base-font);
}

.z1n[data-theme=dark] {
    body {
        background-color: var(--bg-color);
    }

    .form-links .document-link .btn-new:hover {
        background: var(--color-complete);

        svg.icon-sm {
        color: white;
        }
    }

    // on the login page
    .login-content {
        background: transparent;
        box-shadow: none;

        .page-card-head h4 {
        display: none;
        }
    }

    .navbar-light {
        background-color: transparent;
        border-bottom-color: var(--color-header-navbar-border);
        padding: 0 1rem;

        .navbar-brand img {
        max-width: 48px;
        max-height: 32px;
        }

        .navbar-toggler-icon {
        display: none; // nothing to show this hamburger button
        }
    }

    #page-message {
        .page-card {
        background: var(--card-bg);
        border: 1px solid #666666;

        .page-card-head {
            color: #F7FAFB;
            border-bottom: 1px solid #666666;

            .indicator {
            color: #F7FAFB;

            &::before {
                background: #f1c232;
            }
            }
        }

        .page-card-body {
            color: #F7FAFB;
        }
        }
    }


    // shown when session expires
    .modal-backdrop {
        background-color: var(--bg-color) !important; // !important to override the style attribute
    }

    .btn.btn-primary {
        background-color: var(--primary-button-background);
        color: #444;
        --icon-stroke: #444;
    }

    input[type=checkbox] {
        border-color: #f1c232;
    }

    .capitalize {
        text-transform: capitalize;
    }

    input[type=checkbox]:checked {
        border-color: #f1c232;
        background-image: url("data:image/svg+xml, <svg viewBox='0 0 8 7' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M1 4.00001L2.66667 5.80001L7 1.20001' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/></svg>"), linear-gradient(180deg, #111111 -124.51%, #F1C232 100%);
    }

    header.navbar {
        border-bottom: solid var(--color-header-navbar-border) 1px;

        .search-bar {
        svg {
            stroke: var(--icon-stroke);
        }

        #navbar-search::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: #666666;
        }

        #navbar-search::-ms-input-placeholder { /* Microsoft Edge */
            color: #666666;
        }
        }

        .avatar .standard-image {
        border: solid var(--color-header-navbar-border) 1px;
        }
    }

    .page-head .page-head-content .title-area {
        div.flex {
        align-items: center;
        }

        .title-text {
        color: #FAAC4D;
        font-size: 18px;
        text-transform: uppercase;
        padding: 8px 5px;
        }
    }

    // the chart
    .widget-group.widget-charts {
        margin-top: 0;
    }

    .data-point-value {
        fill: #F1C232;
        stroke: #F1C232;
    }

    #page-Workspaces {
        .layout-side-section {
        overflow-y: hidden;

        --z1n-panel-height: 182px;
        --z1n-panel-margin-bottom: 5px;

        // common
        .desk-sidebar {
            .standard-sidebar-label {
            font-weight: 600;
            }

            .standard-sidebar-item {
            margin: 0 5px;
            padding: 8px 5px;

            &:last-child {
                margin-bottom: 0;
            }
            }

            .standard-sidebar-item.selected {
            .sidebar-item-label {
                color: var(--sidebar-select-text-color);
                font-weight: 700;
            }
            }

            .sidebar-item-label {
            color: #666666;
            text-transform: uppercase;
            font-size: 13px;
            }

            .standard-sidebar-item:hover .sidebar-item-label {
            color: white;
            }
        }

        .z1n-panel {
            border: solid 1px var(--color-gray);
            border-radius: var(--border-radius-md);
            height: var(--z1n-panel-height);
            margin-bottom: var(--z1n-panel-margin-bottom);
            overflow: hidden;

            .desk-sidebar {
            margin-bottom: 0;

            .standard-sidebar-item {
                margin-bottom: 5px;
            }

            .standard-sidebar-item.selected {
                background-color: var(--sidebar-select-color);
            }
            }
        }

        .overlay-sidebar-wrapper {
            --wrapper-margin-top: 5px;

            margin-top: var(--wrapper-margin-top);
            height: calc(100% - var(--z1n-panel-height) - var(--z1n-panel-margin-bottom) - var(--wrapper-margin-top));
            overflow-y: auto;

            .desk-sidebar {
            .standard-sidebar-item.selected {
                background-color: transparent;
            }
            }
        }
        }
    }

    .hide-item {
        display: none !important;
    }

    .page-head {
        top: 60px;
    }
}